*
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.info-personal {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 40px;

    .profile {
        width: 367px;
        height: auto;
    }

    h2 {
        font-weight: 600;
        margin-bottom: 0px;
    }

    .correo {
        display: flex;
        gap: 20px;
        

        img {
            width: 25px;
            height: 30px;
            padding-top: 8px;
        }
    }
}


.experiences {
    background-color: white;
    padding: 1px 20px 20px;
    border-radius: 10px;
    margin-bottom: 40px;

    h2 {
        padding-bottom: 15px;
    }

    article {
        display: flex;
        gap: 30px;
    }

    .tittle {
        padding-bottom: 15px;
    }

    img {
        padding-top: 40px;
    }
}

.hobbies {
    background-color: white;
    padding: 1px 20px 20px;
    border-radius: 10px;
    margin-bottom: 40px;

    article {

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            padding: 15px 0 15px;
        }

        p {
            line-height: 0.8;
        }
    }
}