@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./sass/_first-column";
@import "./sass/_second-column";


*
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c4c4c4;
    color: #4f4f4f;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 50px;
}

img {
    width: 50px;
    height: 50px;
}